*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fdf6ed;
    overflow-x: hidden;
    
}
.mot-div
{
    overflow: auto;
    height: 100vh;
    background-image: url(../imgs/shutterstock_277750193.jpg);
   background-size: cover;
   background-position: center;
   margin: auto;
}
.nav{ 
    background-color: rgba(255, 255, 255,0.7);
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 10;
}

.nav button{
    border-radius: 10%;
    border: 2px transparent solid;
    margin : 10px;
    padding: 15px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 450;
}
.nav button a{
    color: #b35f00;
    text-decoration: none;
}
.logo{
    width: 150px;
    height: 54px;
    float: left;
    padding: 15px 60px;
}
.restaurant_img{
    width: 500px;
    height: 200px;
    margin: 100px auto;
    text-align: center;
}

.h1_edit{
    font-size: 90px;
    font-weight: normal;
    margin-top: -50px;
    font-family: 'Times New Roman', Times, serif;
}
.h1_edit ,.p_edit {
    text-align: center;
    color: white;
}
.p_edit{
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-top: 15px;
}
.buttons{
    text-align: center;
    margin-top: 20px;
    
}
.button1
{
    border-radius: 4px;
    border: 2px transparent solid;
    color: #fff;
    background-color: #e4840f;
    padding: 13px 26px;
}
.button1 a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.button2
{
    border: 2px transparent solid;
    border-radius: 4px;
    background-color: white;
    padding: 13px 26px;
}
.button2 a{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
}
.mot-div .nav button a:hover{   
    text-decoration: underline 3px #ec8a13;
}

.mot2-div2{
    height: 100vh;
    /* background-color: #fdf1e3; */
}
.cont{
    
    margin-top: 80px;
}
.h2_text{
    text-align: center;
    font-size: 40px;
}
.test{
    width: 80px;
    height: 5px;
    background-color: #ec8a13;
    margin: 20px auto;
}
.child_mot2{
    text-align: center;
    width: 90%;
    margin:100px auto;

}
.child_child_mot2{
    background-color: white;
    margin-left:70px ;
    width: 25%;
    height: 300px;
    border: 1px solid gray;
    float: left;
    padding-top: 60px;
}
.icon_edit{
    color: #ec8a13;
    font-size: 40px;
}
.child_mot2 .child_child_mot2 h2 ,p{
    padding:15px 25px;
}
.child_mot2 .child_child_mot2 p{word-spacing: 2px;}
.button3{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff4e6;
    margin-top: 20px;
}
.button3 a{
    text-decoration: none;
    color: #ec8a13;
}
.clear_fix{
    clear: both;
}
.child_child_mot2:hover{
    background-color: #b35f00;
    transition: 2s;
    color: whitesmoke;
}
.mot3-div3{
    /* background-color: #f8e6d1; */
    height: 850px;
    text-align: center;
    border: 1px solid transparent;
}
.dishes_container{
    width: 80%;
    margin:70px auto;
}
.dish_content{
    overflow: auto;
}
.dish_item{
    width: 28%;
    float: left;
    margin-left: 4%;
    position: relative;
}
.dish_item img{
    width: 100%;
    
}
.dish_overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(46, 45, 45,0.5);
    visibility: hidden;
    opacity: 0;
}
.dish_overlay2{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* visibility: hidden;
    opacity: 0; */
}
.dish_overlay2_h3{
    padding: 20px 0px;
    font-size: 50px;
    color: #facb92;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.dish_overlay2_span{
    font-size: 20px;
    display: block;
    padding: 20px 0px;
    color: #facb92;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s;

}
.dish_overlay2_a{
    background-color: #fff4e6;
    padding: 10px;
    color: #ec8a13;
    margin-left: 4px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: 1.5s;
}
.dish_overlay2_a i{
    font-size: 25px;
}
.dish_item:hover  .dish_overlay,
.dish_item:hover  .dish_overlay2_h3,
.dish_item:hover  .dish_overlay2_span,
.dish_item:hover  .dish_overlay2_a
{
    visibility: visible;
    opacity: 1;
}





.mot4_div4{
    /* background-color: #f8e6d1; */
    height: 100vh;
    text-align: center;
}
.h2_text_offer{
    padding-top: 25px;
}
.child_mot4{
    width: 80%;
    margin:50px auto;
    
 
}
.child_child_mot4{
    background-color: white;
    border: 1px solid gray;
    width:30%;
    height: 180px;
    margin-left: 25px;
    float: left;
    position:relative;
}
.icon_offers, .h2_offers{
    float: left;
    margin:25px 15px;
}
.icon_offers i{
    font-size: 20px;
    color: #ec8a13;
}
.child_child_mot4 p{
    margin-top:20px;
    padding: 0px 50px;
    font-size:18px;
    
}
.child_child_mot4:after {
    content: "";
    position: absolute;

    width:0 ;
    height: 0  ;
   
    top : 0 ;
    left : 0 ;
    

    background-color: rgba(179, 95, 0,0.6);
    opacity: 0 ;
}

.child_child_mot4:hover::after {
   width:100%;
   height: 100%;
   transition: 2s ;
   opacity:0.6;
   
}
.mot5_div5{
    height: 100vh;
    border: 1px solid transparent;
}
.child_mot5{
    width:90%;
    margin:100px auto;
    
}
.child_child_mot5{
    width:45%;
    height: 400px;
    float:left;
    margin-left: 40px;
}
.test_choose{
    width: 80px;
    height: 5px;
    background-color: #ec8a13;
    margin: 10px 0px;
}
.choose_us{
    width: 100%;
    margin:10px 30px;

}
.p_why_choose{
    font-size: 19;
    line-height: 20px;
    padding:px 20px
}
.edit_list{
    list-style: none;
    margin:15px 30px;
}
.edit_list li{
    font-size: 20px;
    margin: 20px 0px;
}
.edit_list li i{
    color:#ec8a13;
}
.container_child_child_mot5{
    border: 1px solid gray;
    background-color: white;
    position: relative;
}
.container_child_child_mot5:after {
    content: "";
    position: absolute;

    width:0 ;
    height: 0  ;
   
    top : 0 ;
    left : 0 ;
    

    background-color: rgba(179, 95, 0,0.6);
    opacity: 0 ;
}

.container_child_child_mot5:hover::after {
   width:100%;
   height: 100%;
   transition: 2s ;
   opacity:0.6;
   
}

.img_why_choose{
    width: 80%;
    margin:20px auto;

}
.img_why_choose img{
    width: 100%;
    
}

.bullets{
    list-style: none;
    text-align: center;
}
.bullets li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: darkgray;
    margin: 10px 5px;
    display: inline-block;
}
.bullets li:hover{
    background-color:#ec8a13;
}
.mot6_div6{
    position: relative;
    background-image: url(../imgs/slide-01.jpg);
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.child_mot6{
    position: absolute;
    width: 100%;
    height: 100%;
    border:1px solid transparent;
    background-color: rgba(0,0,0,0.7);
}
.child_child_mot6{
    width:80%;
    margin:200px auto;
    
    text-align: center;
}
.child_child_mot6_items{
    
    width: 20%;
    height:100px;
    float: left;
    margin-left: 42px;

}
.child_child_mot6_items i{
    color:#ec8a13;
    padding: 7px;
    font-size:25px;
    font-weight: 750;
}
.child_child_mot6_items h3{
    font-size:30px;
    color:white;
    font-weight: 750;
}
.child_child_mot6_items span{
    font-size: 20px;
    font-weight: 720;
    color:white;
}
.mot7_div7{
    height:100vh;

}
.child_mot7{
    margin-top:20px
}
.h2_text{
    text-align: center;
    font-size: 40px;
}

.parent{
    border: 1px transparent solid;
    width: 100%;
    margin-top: 10px;
    
    
}
.cont_child
{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
.child{
    
    width: 300px;
    height: 420px;
    background-color: white;
    border: 1px solid #808080;
    float: left;
    margin-left: 75px;
    text-align: center;
    position: relative;
    
}
.bas_plan{
    padding:20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.circle
{
    border: 1px  solid;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin:5px auto;
}
.circle .bold_h2{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 10px;
    
}
.circle h3{
    
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.child_p_edit{
    font-size: 20px;
    padding: 0px 55px;
}
.submit_link{
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff4e6;
    margin-top: 20px;
}
.submit_link a{
    text-decoration: none;
    color: #ec8a13;
    
}
.child:after {
    content: "";
    position: absolute;

    width:0 ;
    height: 0  ;
   
    top : 0 ;
    left : 0 ;
    

    background-color: rgba(179, 95, 0,0.6);
    opacity: 0 ;
}

.child:hover::after {
   width:100%;
   height: 100%;
   transition: 2s ;
   opacity:0.6;
   
}
.mot8_div8{
    position: relative;
    background-image: url(../imgs/slide-02.jpg);
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.child_mot8{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    background-color: rgba(0,0,0,0.7);
}
.child_child_mot8{
    width: 70%;
    margin:150px auto;
    
}
.child_child_mot8_items{
    /* border:1px solid gray; */
    width:40%;
    height:200px;
    float:left;
    margin-left: 80px;
    position:relative;
}
.item1{
    text-align: center;
}
.item1 img{
    width: 100px;
    height: 100px;
    position:absolute;
    border-radius: 50%;
    top:0;
    left:0;
}
.item1 h3{
    font-size:20px;
    color:white;
    padding:15px
    
}
.item1 span{color: white;}

.child_child_mot8_items p{
    padding:40px 15px;
    color: #fce4c7;
}
.mot9_div9
{
    height: 100vh;
    position: relative;
}
.child_mot9{
    width: 100%;
    height: 100%;
    position: absolute;

}
.container {
    width: 80%;
    margin:70px auto;
}
.chef-content {

}
.chef-item {
    float: left;
    background-color: #f8e6d1;
    width: 28%;
    padding: 18px  16px;
    text-align: center;
    position: relative;
    margin-left: 2%;
}

.chef-img {
    width: 90%;
    margin: auto;
    position: relative;
}
.chef-img  img {
    width: 100%;
}
.chef-overlay {
    position: absolute;
     top: 0; 
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black ;
    opacity: 0.5;   

    visibility: hidden ;
    opacity: 0 ;
}

.chef-item:hover  .chef-overlay {
    visibility: visible ;
    opacity: 0.5 ;
}
.chef-overlay i {
    display: block;
    line-height: 40px  ;
}
.chef-overlay  a {
    display: block;
    width:40px;
    height: 40px;
    background-color: #d87e10;
    color: #fff;
    margin-left: auto ;
}
.chef-info-title {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chef-info-sp {
    text-transform: capitalize ;   
}

.chef-item:after {
     content: "";
     position: absolute;

     width:0 ;
     height: 0  ;
    
     top : 0 ;
     left : 0 ;

     background-color: rgba(48, 44, 44, 0.5);
     opacity: 0 ;
}
.chef-item:hover::after {
    width:100%;
    height: 100%;
    transition: 2s ;
    opacity:0.6;
}



.chef-item:before {
    content: "";
    position: absolute;

    width:0 ;
    height: 0  ;
   
    bottom  : 0 ;
    right : 0 ;

    background-color: rgba(48, 44, 44, 0.5);
    opacity:0 ;
}
.chef-item:hover::before {
   width:100%;
   height: 100%;
   transition: 2s ;
   opacity: 0.6 ;
}
.mot10_div10
{
    height: 100vh;
    position: relative;
}
.child_mot10{
    width: 100%;
    height: 100%;
    position: absolute;

}
.Desserts_container{
    width: 80%;
    margin: 55px auto;
}
.Desserts_content{
    text-align: center;
    position: relative;
}
.Dessert_item{
    position: absolute;
    width: 28%;
    float: left;
    margin-left: 4%;
    border: 1px solid gray;
    background-color: white;
    position: relative;
}
.Dessert_img{
    width: 100%;

}
.Dessert_img img{
    width:90%;
    height: 300px;
    padding-top:10px;
}
.Dessert_info{
    padding: 20px 10px;
}
.Dessert_info ul{
    list-style-type: none;
    margin: 10px 0px;
}
.Dessert_info ul li{
    display: inline-block;
    margin: 0px 8px;
    font-size: 15px;
    font-weight: 700;
    
}
.Dessert_info ul li i{
    color:#ec8a13;
}
.Dessert_info_h3{
    font-size: 20px;
}
.Dessert_info_p{
    
    font-size:18px ;
    padding-bottom: 30px;
    
}
.Dessert_info_a{
    padding: 13px 23px;
    border-radius: 3px;
    font-size: 18px;
    background-color: #fff4e6;
    text-decoration: none;
    color: #ec8a13;
}
.Dessert_item:after {
    content: "";
    position: absolute;

    width:100% ;
    height: 0  ;
   
    top : 0 ;
    left : 0 ;
    

    background-color: rgba(179, 95, 0,0.6);
    opacity: 0 ;
}
.Dessert_item:hover::after {
   width:100%;
   height: 100%;
   transition: 2s ;
   opacity:0.6;
   
}
.footer_container {
    margin-top: 200px;
    background-image: url(../imgs/slide-01.jpg);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;

}
.footer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

}
.footer_content{
    width: 50%;
    margin:50px auto;
    text-align: center;
    
}
.footer_content img{
    margin-top: 20px;
    width: 25%;
}
.footer_content ul{
    list-style: none;
    margin: 20px 0;
}
.footer_content li{
    display: inline-block;
    background-color: #fff4e6;
    width:50px;
    height: 50px;
    position: relative;
    z-index: 1;
    border-radius: 50%;
}
.footer_content li a{
    display: block;
    width:100%;
    height: 100%;
    color: #b35f00;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 23px; 
}
.footer_content li:after{
    position: absolute;
    content: "";
    opacity: 0;
    transition: .3s;
    background-color: rgba(179, 95, 0,0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0%;
    bottom: 0;
}
.footer_content li:hover:after{
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
}
.footer_content p{
    color: #fff4e6 ;
    text-transform: capitalize;
}









